
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-backgrund-color: #ffffff;
$secondery-backgrund-color: #f5f4fa;
$backgrund-color: #2f303a;
$white-color: #ffffff;
$blak-color: #000000;
$backgrund-active-color: #188ce8;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
